* {
    scroll-behavior: smooth;
    font-family: 'Open Sans Condensed';
}

.nav {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: rgb(220, 220, 220) 0px 2px 10px;
    background-color: white;
}
  
.nav a {
    letter-spacing: 4px;
    font-size: 20px;
    padding: 20px;

    color: black;
    text-decoration: none;
  }
  
  .nav a:hover {
    background-color: #ccc;
  }
  
  .nav a.active {
    color: rgb(55, 112, 55);
  }

.section-one {
    width: 100%;
    height: 100vh;
    background-color: rgba(223, 178, 185, 0.644);
    background-image: url(leaves.jpg); 
    background-attachment: fixed;
    background-size: cover;
    background-blend-mode: soft-light;
} 

#section-two {
    width: 100%;
    height: 100vh;
    background-color: rgb(152, 182, 154);
} 

#section-three {
    width: 100%;
    height: fit-content;
    background-color: rgb(214, 152, 152);
    padding: 30px;
} 

#section-four {
    width: 100%;
    height: 250px;
    background-color: teal;
} 

.header-container {
    position: absolute;
    top: 35%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);

    text-align: center;
    width: fit-content;
    

    letter-spacing: 4px;
}

#name-header {
    font-size: 42px;
    background-color: white;
    padding: 12px;
    margin: 0px 0px 12px 0px;

}

#title-header {
    font-size: 34px;
    color: white;
    background-color: black;
    padding: 12px;
    margin: 0px 0px 12px 0px;
}

#bio-header {
    position: absolute;
    top: 65%;
    left: 33%;
    transform: translate(-30%, -50%);
    box-sizing: border-box;

    height: 250px;
    width: 400px;
    margin: 24px;
    padding: 20px;

    background-color: white;
    font-size: 17px;
    text-align: left;
    letter-spacing: 2px;
    line-height: 1.5;
}

.profile-img {
    position: absolute;
    top: 65%;
    left: 60%;
    margin-right: -50%;
    transform: translate(-30%, -50%);
    margin: 24px;
}

#section-header-container {
    padding: 20px 290px 20px 180px;
}

#section-header-container p{
    font-size: 25px;
}

.section-container {
    padding: 0px 180px;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto;
    justify-items: center;
    align-items: center;
}

.section-container h1 {
    color: white;
    text-align: center;
    letter-spacing: 4px;
    padding: 12px;
    font-weight: bolder;
    font-size: 45px;
}

.section-container p {
    color: white;
    text-align: center;
    font-size: 23px;
    padding: 12px;
    letter-spacing: 1px;
    font-weight: bold;
}

.project-1{
    margin: 15px;
    grid-column: 1/3;
    grid-row: 1/2;
    justify-self: right;
}

.overlay-1 {
    margin: 15px;
    grid-column: 1/3;
    grid-row: 1/2;
    justify-self: right;
    height: 290px;
    width: 460px;
    opacity: 0;
    transition: .5s ease;
    background-color: teal;
  }
  
  .overlay-1:hover {
    opacity: .9;
    text-decoration: none;
    padding-top: 20px;
  }
  

.project-2 {
    margin: 15px;
    grid-column: 3/5;
    grid-row: 1/4;
    justify-self: left;
}

.overlay-2 {
    margin: 15px;
    grid-column: 3/5;
    grid-row: 1/4;
    justify-self: left;
    height: 390px;
    width: 410px;
    opacity: 0;
    transition: .5s ease;
    background-color: teal;
  }
  
.overlay-2:hover {
    opacity: .9;
    text-decoration: none;
    color: white;
    padding-top: 60px;
}

.project-3 {
    margin: 15px;
    grid-column: 1/3;
    grid-row: 2/6;
    justify-self: right;
}

.overlay-3 {
    margin: 15px;
    grid-column: 1/3;
    grid-row: 2/6;
    justify-self: right;
    height: 330px;
    width: 460px;
    opacity: 0;
    transition: .5s ease;
    background-color: teal;
  }
  
  .overlay-3:hover {
    opacity: .94;
    text-decoration: none;
    color: white;
    padding: 20px 0px;
  }

.project-4 {
    margin: 15px;
    grid-column: 3/5;
    grid-row: 4/4;
    justify-self: left;
}

.overlay-4 {
    margin: 15px;
    grid-column: 3/5;
    grid-row: 4/4;
    justify-self: left;
    height: 230px;
    width: 410px;
    opacity: 0;
    transition: .5s ease;
    background-color: teal;
  }

.overlay-4 p, h1{
    margin: 0px;
}
  
.overlay-4:hover {
opacity: .9;
text-decoration: none;
color: white;
}

.main-header {
    font-size: 42px;
    /* padding: 16px; */
    letter-spacing: 4px;
    /* margin: 20px auto; */
    width: fit-content;
    color: white;
}

#contact-header {
    font-size:42px;
    text-align: center;
    letter-spacing: 4px;
    color: white;
    padding: 32px 8px;
    margin: 0px 0px 0px 85px;
}

ul {
    list-style-type: none;
    font-size:24px;
    text-align: center;
    letter-spacing: 4px;
}

li a {
    text-decoration: none;
    color: white;
}

li {
    display: inline-block;
    text-align: center;
    margin: 20px 70px;
}
