* {
    font-family: 'Open Sans Condensed';
}

.nav-bar {
    position: fixed;
    width: 150px;
    top: 70px;
    right: 70px;

    text-align: center;
    letter-spacing: 4px;
    font-size: 20px;
  }
  
  .nav-bar a {
    display: block;
    padding: 12px;

    background-color: white;
    color: black;
    text-decoration: none;
  }
  
  .nav-bar a:hover {
    background-color: #ccc;
  }
  
  .nav-bar a.active {
    background-color: teal;
    color: white;
  }

.section-one {
    width: 100%;
    height: 100vh;
    background-color: rgba(223, 178, 185, 0.644);
    background-image: url(leaves.jpg); 
    background-attachment: fixed;
    background-size: cover;
    background-blend-mode: soft-light;
} 

#section-two {
    width: 100%;
    height: 100vh;
    background-color: rgb(128, 196, 134);
} 

#section-three {
    width: 100%;
    height: 100vh;
    background-color: rgb(224, 150, 150);
} 

#section-four {
    width: 100%;
    height: 250px;
    background-color: teal;
} 
  

.header-container {
    position: absolute;
    top: 35%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);

    text-align: center;
    width: fit-content;
    

    letter-spacing: 4px;
}

#name-header {
    font-size: 42px;
    background-color: white;
    padding: 12px;
    margin: 0px 0px 12px 0px;
}

#title-header {
    font-size: 34px;
    color: white;
    background-color: black;
    padding: 12px;
    margin: 0px 0px 12px 0px;
}

#bio-header {
    position: absolute;
    top: 65%;
    left: 33%;
    transform: translate(-30%, -50%);
    box-sizing: border-box;

    height: 250px;
    width: 400px;
    margin: 24px;
    padding: 20px;

    background-color: white;
    font-size: 17px;
    text-align: left;
    letter-spacing: 2px;
    line-height: 1.5;
}

.profile-img {
    position: absolute;
    top: 65%;
    left: 60%;
    margin-right: -50%;
    transform: translate(-30%, -50%);
    margin: 24px;
}

#contact-header {
    font-size:42px;
    text-align: center;
    letter-spacing: 4px;
    color: white;
    padding: 32px 8px;
    margin: 0px 0px 0px 85px;
}

ul {
    list-style-type: none;
    font-size:24px;
    text-align: center;
    letter-spacing: 4px;
}

li a {
    text-decoration: none;
    color: white;
}

li {
    display: inline-block;
    text-align: center;
    margin: 20px 70px;
}