* {
    scroll-behavior: smooth;
    font-family: 'Open Sans Condensed';
}

.main-container {
    margin-left: 180px; 
}

.container-fluid.content {
    margin: 0px;
    padding: 0px;
}

.sidenav {
    height: 100%;
    width: 180px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(46, 45, 45);
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .main {
    margin-left: 160px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
  }
  

#section-one {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 0px;
    width: 100%;
    height: fit-content;
    min-height: 100vh;
    background-color: rgba(206, 172, 166, 0.938);
    background-image: url(leaves.jpg); 
    background-attachment: fixed;
    background-size: cover;
    background-blend-mode: soft-light;
} 

#section-two {
    width: 100%;
    height: fit-content;
    min-height: 100vh;
    background-color: rgb(211, 149, 138);
    padding: 15px;
    display: flex;
} 

#section-three {
    width: 100%;
    height: fit-content;
    min-height: 100vh;
    padding: 20px 0px 50px 0px;
    background-color: rgb(216, 211, 211);
} 

.container#section-one-header {
    text-align: center;
    width: fit-content;
    letter-spacing: 4px;
}

#name-header {
    font-size: 42px;
    background-color: white;
    padding: 12px;
    margin: 0px 0px 12px 0px;
}

#title-header {
    font-size: 34px;
    color: white;
    background-color: rgb(46, 45, 45);
    padding: 12px;
    margin: 0px 0px 12px 0px;
}

.container#section-one-bio {
    letter-spacing: 4px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#bio-header {
    box-sizing: border-box;
    margin-right: 12px;
    padding: 20px;

    height: fit-content;
    min-height: 250px;
    width: 400px;

    background-color: white;
    font-size: 17px;
    letter-spacing: 2px;
    line-height: 1.5;
}

/* @media only screen and (max-width: 1px) {
    #bio-header {
        width: 100px;
    }
} */

#project-header-container {
    margin: auto 0px;
}

#project-header-container h1 {
    color: white;
    text-align: center;
    padding-top: 25px;
    letter-spacing: 4px;
    font-weight: bolder;
    font-size: 50px;
}

#project-header-container hr {
    border: solid 1px white;
}

#project-header-container p {
    color: white;
    text-align: center;
    padding-top: 25px;
    font-weight: bolder;
    font-size: 30px;
}

#project-header-container button{
    width: 100%;
    height: 40px;
    margin: 20px auto;

    color: rgb(46, 45, 45);
    letter-spacing: 4px;
    font-weight: bolder;
    font-size: 18px;
}

.project-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto;
    justify-items: center;
    align-items: center;
    margin: auto 0px;
}

.project-container h1 {
    color: white;
    text-align: center;
    letter-spacing: 4px;
    padding: 12px;
    font-weight: bolder;
    font-size: 45px;
}

.project-container p {
    color: white;
    text-align: center;
    font-size: 23px;
    padding: 12px;
    letter-spacing: 1px;
    font-weight: bold;
}

.project-1{
    margin: 15px;
    grid-column: 1/3;
    grid-row: 1/2;
    justify-self: right;
}

.overlay-1 {
    margin: 15px;
    grid-column: 1/3;
    grid-row: 1/2;
    justify-self: right;
    height: 290px;
    width: 460px;
    opacity: 0;
    transition: .5s ease;
    background-color: rgb(46, 45, 45);
  }
  
  .overlay-1:hover {
    opacity: .9;
    text-decoration: none;
    padding-top: 20px;
  }
  

.project-2 {
    margin: 15px;
    grid-column: 3/5;
    grid-row: 1/4;
    justify-self: left;
}

.overlay-2 {
    margin: 15px;
    grid-column: 3/5;
    grid-row: 1/4;
    justify-self: left;
    height: 390px;
    width: 410px;
    opacity: 0;
    transition: .5s ease;
    background-color: rgb(46, 45, 45);
  }
  
.overlay-2:hover {
    opacity: .9;
    text-decoration: none;
    color: white;
    padding-top: 60px;
}

.project-3 {
    margin: 15px;
    grid-column: 1/3;
    grid-row: 2/6;
    justify-self: right;
}

.overlay-3 {
    margin: 15px;
    grid-column: 1/3;
    grid-row: 2/6;
    justify-self: right;
    height: 330px;
    width: 460px;
    opacity: 0;
    transition: .5s ease;
    background-color: rgb(46, 45, 45);
  }
  
  .overlay-3:hover {
    opacity: .94;
    text-decoration: none;
    color: white;
    padding: 20px 0px;
  }

.project-4 {
    margin: 15px;
    grid-column: 3/5;
    grid-row: 4/4;
    justify-self: left;
}

.overlay-4 {
    margin: 15px;
    grid-column: 3/5;
    grid-row: 4/4;
    justify-self: left;
    height: 230px;
    width: 410px;
    opacity: 0;
    transition: .5s ease;
    background-color: rgb(46, 45, 45);
  }

.overlay-4 p, h1{
    margin: 0px;
}
  
.overlay-4:hover {
opacity: .9;
text-decoration: none;
color: white;
}

#section-three h1 {
    text-align: center;
    padding-top: 25px;
    letter-spacing: 4px;
    font-weight: bolder;
    font-size: 50px;
    color: rgb(110, 110, 110);
}

#section-three hr {
    border: solid 1px rgb(185, 185, 185);
    margin-bottom: 50px;
}


#section-four {
    width: 100%;
    height: fit-content;
    min-height: 100vh;
    background-color: rgb(116, 141, 116);
    color: white;
    padding: 80px 0px;
    font-size: 20px;
    display: flex;
} 

#section-four h1 {
    letter-spacing: 4px;
    font-weight: bolder;
    font-size: 50px;
    color: white;
}

.contact-left {
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid white;
}

.contact-right {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    margin-top: 20px;
}

.icon {
    margin: 10px;
}

ul {
    list-style-type: none;
    font-size:24px;
    letter-spacing: 4px;
}

li a {
    text-decoration: none;
    color: white;
}

li {
    margin: 40px;
}

li :hover {
    text-decoration: none;
    color: rgb(224, 224, 224);
}
